
.picture-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10pt;
    margin-top: 150px;
    margin-bottom: 500px;
    z-index: auto;
}

.picture-box {
    aspect-ratio: 2/3;
    min-width: 50px;
    max-width: 200px;
    background-color: #262626;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 1);
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.2s ease-in-out, border-radius 0.3s ease;
    opacity: 0.35;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 1;
}


.picture-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    display: block; 
}


.picture-box:hover {
    transform: scale(1.25);
    position: relative;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 1);
    z-index: 10;
    opacity: 1;
}

.picture-box:active {
    transform: scale(1.10);
}

.picture-grid-container-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10pt;
    margin-top: 100px;
    margin-bottom: 500px;
    z-index: auto;
}

.picture-box-main {
    width: 50%;
    max-height: 40%;
    background-color: #000000;
    display: inline-block;
    transition: transform 0.4s ease-in, opacity 0.2s ease-in-out, box-shadow 0.3s ease;
    z-index: 1;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.6);

    border-radius: 20px;
    margin-top: 100px;
}

.picture-box-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    display: block; 
}

/*
.picture-box-main:hover {
    transform: scale(1.1);
    position: relative;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 1);
    opacity: 1;
    z-index: 10;
}
*/

.picture-box-main:active {
    transform: scale(0.92);
    position: relative;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 1);
    opacity: 1;
    z-index: 10;
}

a {
    text-decoration: none;
    color: inherit;
}

.tags {
    transition: color 0.1s ease-in;
    text-decoration: none;
    color: inherit;
}

.tags:hover{
    
    color: #eb1a78;
}

.tags-container {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}


.top-bar {
    width: 68%;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: opacity 0.25s ease-in-out;
    transition-delay: 0.3s;
}

.bottom-bar {
    color: white;
    width: 68%;
    position: fixed;
    bottom: 0;
    padding-bottom: 3%;
    z-index: 1000;
    transition: opacity 0.25s ease-in-out;
    transition-delay: 0.3s;
    gap: 0px;
    opacity: 0.9;
}


h1 {
    user-select: none;
    color: white;
    position: relative;
    display: inline-block;
    font-size: 3rem;
}

h3 {
    user-select: none;
    text-decoration: none;
    color: inherit;
    text-align: center; 
    margin: 0px;
    padding: 0px;
    opacity: 0.5;
}

h4 {
    opacity: 0.5;
    user-select: none;
    margin-top: 0px;
    transition: opacity 0.18s ease;
}

.wiki {
    margin: 5px;
}

.wiki:hover {
    opacity: 1;
    color: #eb1a78;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 0;
}

input[type="text"] {
    width: 400px;
    padding: 15px 20px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 20px;
    outline: none;
    height: 100%;
    margin: 0px;
    background-color: #1e1e20;
    transition: background-color 0.3s ease;
    border: none;
    color: white;
}

input[type="submit"] {
    background-color: #e2185e;
    color: white;
    padding: 15px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    height: 100%;
    display: inline-block;
    width: 150px;
    margin: 0;
    border: none;
    transition: transform 0.3s ease, border-radius 0.05s ease;
}

input[type="submit"]:hover {
    transform: scale(1.2);
    background-color: #e2185e;
    z-index: 100;
}

input[type="submit"]:focus {
    transform: scale(1.02);
    background-color: #c10f4d;
}


.wiki-button-container {
    position: fixed; /* Positions the form relative to the viewport */
    bottom: 40px; /* Distance from the bottom edge of the viewport */
    left: 40px; /* Distance from the right edge of the viewport */
    z-index: 1000; /* Ensures the form stays on top of other elements */
    opacity: 0.7;
}

button[type="submit"].wiki-button {
    background-color: #e2185e;
    opacity: 0.7;
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 12px;
    height: 60px;
    display: inline-block;
    width: 60px;
    padding: 2px;
    margin: 0;
    border: none;
    transition: transform 0.3s ease, opacity 0.1s ease;
}

button[type="submit"].wiki-button:hover {
    transform: scale(1.1);
    opacity: 1;
    z-index: 100;
}


input[type="submit"].random-button {
    background-color: #e32e53;
    color: white;
    padding: 15px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    height: 100%;
    display: inline-block;
    width: 150px;
    margin: 0;
    border: none;
    transition: transform 0.1s ease, border-radius 0.05s ease;
}

input[type="submit"].random-button:hover {
    transform: scale(1.2);
    background-color: #af364c;
    z-index: 100;
}

input[type="text"]:hover {
    background-color: #d0d0d0;
    color: #000000;
}

input[type="text"]:focus {
    background-color: #FFFFFF;
    color: #000000;
}


input[type="text"].tags-text {
    color: #FFFFFF;
    width: 76%;
    padding: 15px 20px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    height: 100%;
    margin: 0px;
    background-color: #1e1e20;
    transition: background-color 0.3s ease;
    border: none;
    border-radius: 0px;
    border: none;
}

input[type="text"].tags-text:hover {
    background-color: #c9c9c9;
    color: #393737;
}

input[type="text"].tags-text:focus {
    background-color: #ffffff;
    color: #393737;
}

input[type="submit"].del-button {
    color: rgb(248, 248, 248);
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    width: 12%;
    border-radius: 20px 0px 0px 20px;
    margin: 0px;
    background: linear-gradient(to left, #e81c3e 50%, #2f302f 50%);
    background-size: 200% 100%;
    background-position: left center;
}

input[type="submit"].del-button:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    color: rgb(57, 55, 55);
    background-position: right center;
    transform: none;
}

input[type="submit"].add-button {
    color: rgb(248, 248, 248);
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    width: 12%;
    border-radius: 0px 20px 20px 0px;
    margin: 0px;
    background: linear-gradient(to left, #2f302f 50%, #19e31d 50%);
    background-size: 200% 100%;
    background-position: right center;
}

input[type="submit"].add-button:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    color: #393737;
    background-position: left center;
    transform: none;
}

.recommended-tags-container {
    margin-top: 30px;
    padding: 30px;
    width: 100%;
}

.recommended-tags-container-grid {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 10pt;
}

input[type="submit"].recommended {
    background-color: #272727;
    color: white;
    padding: 15px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    height: 100%;
    display: inline-block;
    width: 150px;
    margin: 0;
    border: none;
    transition: transform 0.5s ease, border-radius 0.05s ease, backgroundcolor 0.5s;
}

input[type="submit"].recommended:hover {
    background-color: #19e31d;
    transform: scale(1.1);
}



input[type="button"].remove-button {
    background-color: #61dc4e;
    color: white;
    padding: 15px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    height: 100%;
    display: inline-block;
    width: 150px;
    margin: 0;
    border: none;
    transition: transform 0.1s ease, border-radius 0.05s ease, background-color 0.3s;
}

input[type="submit"].delete-button {
    background-color: #9c162c;
    color: white;
    padding: 15px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    height: 100%;
    display: inline-block;
    width: 150px;
    margin: 0;
    border: none;
    transition: transform 0.1s ease, border-radius 0.05s ease;
}


.delete-container {
    margin-top: 150px;
    padding: 30px;
    width: 100%;
    background-color: #5a1b26;
}

.helper-box {
    position: fixed; /* Fixed in the viewport */
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
    background-color: #161a1d; /* Dark background */
    color: white; /* White text */
    border: 1px solid #e2185e; /* Light border */
    border-radius: 10px; /* Rounded edges */
    padding: 15px; /* Internal spacing */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    max-width: 300px; /* Optional: Limit box width */
    z-index: 1000; /* Ensure it's above most elements */
    width: 15%;
    visibility: hidden; /* Hidden by default */
    height: 50%;
    opacity: 0.7; /* Slightly less transparent */
    font-family: 'Roboto', sans-serif; /* Modern font */
    font-size: 14px; /* Slightly larger for readability */
    line-height: 1.8; /* Increase spacing between lines */
    overflow-y: auto; /* Scroll if content overflows */
}


    
